<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Segmentation Result</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h2>Segmentation Result</h2>
    <div class="container">
      <!-- On affiche l'image, qui est un fichier dans /static/masks/... -->
      <img
        src="{{ mask_url }}"
        alt="Segmentation Mask"
        style="max-width: 100%"
      />
      <br /><br />
      <a href="{{ url_for('index') }}">Segment another image</a>
    </div>
  </body>
</html>
